name: Python CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      #Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      #Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      #Install Dependencies
      - name: Install Dependecies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      #Create environment variables for tests
      - name: Set environment variables for tests
        run: |
          echo "ALPHA_VANTAGE_API=WKHNK5JZSWC0WQRE" >> $GITHUB_ENV

      - name: Run Tests
        run: |
          pytest -q

      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
